* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: arial;
}

body {
    background-color: whitesmoke;
    position: relative;
}

header {
    padding: .2em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5em;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;

    & .logo {
        & img {
            width: 9em;
            margin-bottom: .4em;
        }
    }

    & nav {
        width: 700px;
        display: flex;
        justify-content: space-around;



        @media (max-width: 1000px) {
            flex-direction: column;
            align-items: center;
            text-align: left;
            justify-content: center;
            gap: .2em;

        }

        & ul li {
            list-style: none;

            & a {
                text-decoration: none;
                color: black;

                @media (max-width: 1000px) {
                    background-color: grey;
                    padding: .5em;
                    display: inline-block;
                    width: 100px;

                }
            }

            & a:hover {
                text-decoration: underline;

                @media (max-width: 1000px) {
                    background-color: black;
                    color: white;
                    transition: 0.3s ease-in-out;
                }
            }

            & i {
                color: orange;
                font-size: .8em;
                padding-left: .3em;
            }

        }
    }

    & .button {
        width: 250px;
        display: flex;
        gap: .5em;


        @media (max-width: 1000px) {
            display: none;
        }


        & button {
            background: transparent;
            border: none;
            font-size: .9em;
            font-weight: bolder;
        }

        & .btn {
            background: linear-gradient(to left, orange 90%, rgb(230, 230, 90));
            color: white;
            padding: .4em 1em;
            border-radius: 20px;
            font-size: .8em;
        }


        & button:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}


.search {
    margin-top: em;
    width: 330px;
    display: flex;
    margin: 0 auto;


    & .srch {
        padding: .8em;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        border: none;
        background-color: rgba(228, 226, 226, 0.521);
        padding-left: 1em;
        font-size: 1em;
    }

    & .srch:focus {
        outline: none;
    }

    & .btn {
        border: none;
        width: 100px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        background: linear-gradient(to left, rgba(255, 166, 0, 0.623) 60%, rgb(228, 228, 30));
        color: white;
        font-weight: bold;
    }

    & .btn:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}



.main-container {
    margin-top: 2em;
    display: flex;

    & .icons-list {
        display: flex;
        gap: 2em;
        width: 260px;
        height: 100vh;
        margin-right: .7em;
        position: fixed;
        left: 0;

        @media (max-width: 1000px) {
            display: none;
        }




        & .icon {
            border: 1px solid rgba(128, 128, 128, 0.493);
            height: fit-content;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;



            & li {
                border: 1px solid rgba(128, 128, 128, 0.493);
                padding: .4em;
                border-left: none;

                & #twitter {
                    color: rgb(46, 195, 245);
                }

                & #share {
                    color: rgb(144, 238, 144);
                }

            }
        }


        & .list {
            padding-top: 2em;
            line-height: 1.9em;


            & li i {
                color: orange;
                font-weight: bolder;
            }

            & li {

                & .orange {
                    color: oragne;
                }
            }
        }
    }

    & .blog {
        width: 90%;
        margin-top: 1em;
        margin-right: 1em;
        gap: 2em;
        padding: 1em;
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 1em;
        justify-content: center;
        margin-left: 270px;

        @media (max-width: 1000px) {
            margin-left: 0;
        }



        & article {
            display: inline-block;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            width: 299px;
            height: 470px;
            border-radius: 20px;
            overflow: hidden;

            & img {
                height: 190px;
                margin-bottom: 1em;
            }

            & .webina-btn {
                background-color: rgba(255, 166, 0, 0.247);
                padding: .4em 1em;
                border-radius: 30px;
                text-decoration: none;
                color: rgb(230, 156, 19);
                font-weight: bolder;
                font-size: .8em;
                margin-left: 1em;
                margin-bottom: 1em;
                display: inline-block;

            }

            & h3 {
                font-size: 1.1em;
                margin-left: 1em;
                margin-right: 1em;
                opacity: 0.9;
                line-height: 1.5em;
                margin-bottom: 1em;
            }

            & .small {


                & p {
                    background-color: rgba(211, 211, 211, 0.534);
                    padding: .4em 1em;
                    border-radius: 20px;
                    color: rgba(39, 37, 37, 0.589);
                    font-weight: bold;
                    margin-left: 1em;
                    margin-right: 1em;
                    font-size: .8em;
                    display: inline-block;
                    margin: 0;
                    margin-bottom: .5em;
                    margin-left: 1em;
                }

            }

            & .read-more {
                margin-left: 1em;
                background: linear-gradient(to right, yellow -30%, rgb(255, 154, 3) 60%);
                padding: .5em 1em;
                border-radius: 20px;
                text-decoration: none;
                color: white;
                font-weight: bolder;
                font-size: .9em;
                opacity: 0.8;
                display: inline-block;
                margin-top: .6em;
            }


        }
    }
}

@media (max-width: 1250px) {
    .main-container .blog {
        display: flex;
        flex-wrap: wrap;
    }
}








.float {
    width: fit-content;
    position: absolute;
    right: 30px;
    bottom: 80px;
    position: fixed;


    img {
        height: 4em;
        cursor: pointer;

    }
}










footer {
    text-align: center;
    color: grey;
    font-size: .9em;
    margin-top: 2em;
    border-top: 1px solid gray;
    background: linear-gradient(to right, black 80%, orange);
    padding: 1em;



    & p {
        color: grey;
        letter-spacing: .2em;
    }
}