* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: arial;
}

header {
    padding: .2em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.3);
    margin-bottom: 1.5em;

    & .logo {
        & img {
            width: 9em;
            margin-bottom: .4em;
        }
    }

    & nav {
        width: 700px;
        display: flex;
        justify-content: space-around;

        & ul li {
            list-style: none;

            & a {
                text-decoration: none;
                color: black;
            }

            & a:hover {
                text-decoration: underline;
            }

            & i {
                color: orange;
                font-size: .8em;
                padding-left: .3em;
            }

        }
    }

    & .button {
        width: 250px;
        display: flex;
        gap: .5em;

        & button {
            background: transparent;
            border: none;
            font-size: .9em;
            font-weight: bolder;
        }

        & .btn {
            background: linear-gradient(to left, orange 90%, rgb(230, 230, 90));
            color: white;
            padding: .4em 1em;
            border-radius: 20px;
            font-size: .8em;
        }


        & button:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}


.search {
    margin-top: em;
    width: 330px;
    display: flex;
    margin: 0 auto;


    & .srch {
        padding: .6em;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        border: none;
        background-color: rgba(228, 226, 226, 0.521);
        padding-left: 1em;
    }

    & .btn {
        border: none;
        width: 100px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background: linear-gradient(to left, rgba(255, 166, 0, 0.623) 60%, rgb(228, 228, 30));
        color: white;
        font-weight: bold;
    }
}



.main-container {

    & .icons-list {
        display: flex;
        gap: 2em;
        width: 250px;
        height: 100vh;


        & .icon {
            border: 1px solid rgba(128, 128, 128, 0.493);
            height: fit-content;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;



            & li {
                border: 1px solid rgba(128, 128, 128, 0.493);
                padding: .4em;
                border-left: none;

                & #twitter {
                    color: rgb(46, 195, 245);
                }

                & #share {
                    color: rgb(144, 238, 144);
                }

            }
        }


        & .list {
            padding-top: 2em;
            line-height: 1.9em;


            & li i {
                color: orange;
                font-weight: bolder;
            }

            & li {

                & .orange {
                    color: oragne;
                }
            }
        }
    }
}


